@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    @apply text-gray-700;
}
@layer components {
    .title {
        @apply font-medium uppercase tracking-widest transition duration-150 ease-in-out;
    }
    .btn {
        @apply title inline-block border border-gray-800 bg-white  outline-offset-0 ring-gray-600 hover:border-gray-600 hover:ring-2;
    }
    .btn-md {
        @apply px-9 py-[6px] text-sm;
    }
}
@layer utilities {
    .py-section {
        @apply py-28;
    }
    .pb-section {
        @apply pb-28;
    }
    .pt-section {
        @apply pt-28;
    }
    /* //md */
    @media (min-width: 768px) {
        .py-section {
            @apply py-32;
        }
        .pb-section {
            @apply pb-32;
        }
        .pt-section {
            @apply pt-32;
        }
    }

    /* //lg */
    @media (min-width: 1024px) {
        .py-section {
            @apply py-36;
        }
        .pb-section {
            @apply pb-36;
        }
        .pt-section {
            @apply pt-36;
        }
    }
    /* //xl */
    @media (min-width: 1280px) {
        .py-section {
            @apply py-40;
        }
        .pb-section {
            @apply pb-40;
        }
        .pt-section {
            @apply pt-40;
        }
    }
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: "" !important;
}
.swiper-button-next,
.swiper-button-prev {
    width: 70px !important;
    height: 70px !important;
}
.swiper-button-next{
    right: 0px !important;
}
.swiper-button-prev{
    left: 0px !important;
}